<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 3rem">
    <h6>cart id: 63f3ebcfc1b16b712dd39af9</h6>
    <button type="button" id="btnCart">Ir al carrito</button>
</div>


<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 2rem">
    <button type="button" id="btnPrev">Anterior</button>
    <h5 id="lblPage">4</h5>
    <button type="button" id="btnNext">Siguiente</button>
</div>


<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 2rem; margin: 1rem">
    <label for="limitedSelect"> Mostrar </label>

    <select name="limitedSelect" id="limitedSelect" onchange="limitSelectChanged()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>   
</div>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 2rem; margin: 1rem">
    <label for="sortSelect"> Ordenar </label>

    <select name="sortSelect" id="sortSelect" onchange="sortSelectChanged()">
        <option value="1">menor precio</option>
        <option value="-1">mayor precio</option>
    </select>   
</div>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 2rem; margin: 1rem">
    <label for="filterValSelect"> Filtrar </label>

    <select name="filterValSelect" id="filterValSelect" onchange="filterValSelectChanged()">
        <option value="all">Categoría: Todos</option>
        <option value="Toys">Categoría: Toys</option>
        <option value="Books">Categoría: Books</option>
        <option value="Home">Categoría: Home</option>
        <option value="Kids">Categoría: Kids</option>
    </select>   
</div>


{{#each products}}
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
    <h4>{{this.title}}</h4>
</div>
<div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; margin: 1rem">
    <div>
        <h5>Descripción: {{this.description}}</h5>
        <h5>Categoría: {{this.category}}</h5>
        <h5>Estado: {{this.status}}</h5> 
        <h5>Precio: {{this.price}}</h5>
    </div>
    <div>
        <button type="button" onclick="btnAddProduct(this.id)" id={{this._id}}>Agregar</button>
    </div>
</div>

{{/each}}

<script src="/js/products.js"></script>

